h1{
margin-left: auto;
margin-right: auto;
text-align: center;
background-color: #F5DEDF;
}

img.logo{
  width: 1300px;
  height: 300px;
}

header li{
display: inline-block;
border: 1px solid black;
border-radius: 10px;
text-align: center;
padding: 0 2em;
margin-left: .25em;
border-color: #F5DEDF;
background-color: #F5DEDF;


}

header li{ float: right;}

nav{
margin-left: auto;
margin-right: auto;
padding-right: 4em;

}

.product{
  width: 150px;
  height: 150px;
  padding: 2 2em;
  margin-left: 60px;
  margin-right: 50px;
  border: 1px solid #F5DEDF;
  background-color: #F5DEDF;

}

li {display: inline-block;
}
main{
background-color: #F5F1DF;

}

h2{color: #A18982;
  padding: .5em;
  text-align: left;
  margin-left: 3.5em;

}

.description{text-align: center;
border: 4px solid #F5DEDF;
margin-left: 45%;
margin-right: 10%;
margin-top: .5em;
color: #A18982;
background-color: #F5DEDF;

}

.mainpic{padding-left: 3em;
  float: left;
  display: inline-block;

}

.piccontact{
  width: 15%;
  height: 15%;

}
.map{
  float: left;
  color: #A18982;
  background-color: #F5F1DF;
  margin-left: 2%;
  margin-right: 10%;
  padding-left: 3em;
  border: 3px solid #A18982;
}

.info li{display: block;
padding: .5em;
}

h3{color: #A18982;
}

address{
  float: right;
  margin-left: .5em;
}
